# config.yaml

# TODO: Make config loggable with lightning
# TODO: make training work for every input size

model:
  name: SARATRX                     # SARATR-X Training hyperparameters
  in_chans: 1                       # 1 for SAR (grayscale), 3 for RGB
  mgf_kens: [9, 13, 17]
  target_mode: "mgf"            # "mgf" or "optical" ("optical" can only be used with sentinel dataset)
  resume: null
  norm_pix_loss: false              # false in SARATRX paper

data:
  dataset_name: "sentinel"          # "capella" or "sentinel"
  train_data: "dataset/sentinel12/v_2"
  img_size: 224                     # 256 for sentinel-1&2
  num_workers: 2

train:
  init_weights: "checkpoints/mae_hivit_base_1600ep.pth"
  seed: 42
  n_gpu: "auto"
  epochs: 200                       # 200
  warmup_epochs: 5                  # 5
  batch_size: 8                     # 64 (original), reduced for MPS memory constraints
  lr: 1.5e-4                        # 1.5e-4
  weight_decay: 0.05                # 0.05
  optimizer_momentum:
    beta1: 0.9                      # 0.9
    beta2: 0.95                     # 0.95
  clip_grad: 5.0