# config.yaml

# TODO: Make config loggable with lightning
# TODO: make training work for every input size

model:
  name: SARATRX                     # SARATR-X Training hyperparameters
  in_chans: 3
  mgf_kens: [9, 13, 17]
  resume: null
  norm_pix_loss: false              # false

data:
  dataset_name: "sentinel"
  train_data: "dataset/sentinel12/v_2"
  img_size: 256                     # 256 for sentinel-1&2
  dataset_std_dev: 1.57
  num_workers: 2

train:
  init_weights: "checkpoints/mae_hivit_base_1600ep.pth"
  seed: 42
  n_gpu: "auto"
  epochs: 200                       # 200
  warmup_epochs: 5                  # 5
  batch_size: 64                    # 800
  lr: 1.5e-4                        # 1.5e-4
  weight_decay: 0.05                # 0.05
  optimizer_momentum:
    beta1: 0.9                      # 0.9
    beta2: 0.95                     # 0.95
  clip_grad: 5.0